<?xml version="1.0"?>
<model>
  <name>surgical_instrument</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Justin Varghese Issac</name>
    <email>justin@todo.com</email>
  </author>
  <description>
    Simplified surgical instrument model for Digital Twin synchronisation.
    Consists of a cylindrical shaft and spherical tip.
  </description>
</model>
